aiohttp==3.8.4
aiosignal==1.3.1
appdirs==1.4.4
arrow==1.2.3
async-timeout==4.0.3
asyncio==3.4.3
attrs==23.1.0
aws-lambda-powertools==1.25.5
aws-xray-sdk==2.12.0
beautifulsoup4==4.12.3
blinker==1.6.2
boto3==1.28.45
botocore==1.31.45
cachetools==5.3.2
certifi==2023.7.22
cffi==1.15.1
chardet==4.0.0
charset-normalizer==3.2.0
chime==0.7.0
click==8.1.6
docopt==0.6.2
docutils==0.20.1
emoji==2.8.0
fastjsonschema==2.18.0
Flask==2.3.2
flatten-dict==0.4.2
frozenlist==1.4.0
future==1.0.0
fyers-apiv3==3.0.3
google-auth==2.23.4
google-auth-oauthlib==1.1.0
greenlet==3.0.3
gspread==5.12.1
gspread-dataframe==3.3.1
httplib2==0.22.0
idna==2.10
importlib_metadata==7.1.0
inexactsearch==1.0.2
install==1.3.5
ipynb-py-convert==0.4.6
itsdangerous==2.1.2
jenkinsapi==0.3.13
Jinja2==3.1.2
jmespath==0.10.0
joblib==1.3.2
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
jupyter_core==5.7.2
jupytext==1.16.2
llvmlite==0.42.0
lockfile==0.12.2
markdown-it-py==3.0.0
MarkupSafe==2.1.3
mdit-py-plugins==0.4.1
mdurl==0.1.2
mercurial==6.5
multidict==6.0.4
nbformat==5.10.4
nest-asyncio==1.5.8
nltk==3.8.1
numba==0.59.1
numpy==1.25.1
oauth2client==4.1.3
oauthlib==3.2.2
packaging==24.0
pandas==2.0.3
pandas-ta==0.3.14b0
pause==0.3
pipreqs==0.4.13
platformdirs==4.2.2
playwright==1.44.0
protobuf==4.21.12
psutil==5.9.5
py-lets-be-rational==1.0.1
py-vollib==1.0.1
py-vollib-vectorized==0.1.1
pyaes==1.6.1
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
pyee==11.1.0
pyenchant==3.2.2
pyotp==2.9.0
pyparsing==3.1.1
pyperclip==1.8.2
pyppeteer==2.0.0
python-daemon==3.0.1
python-dateutil==2.8.2
pytz==2023.3
PyYAML==6.0.1
referencing==0.35.1
regex==2023.10.3
requests==2.31.0
requests-oauthlib==1.3.1
rpds-py==0.18.1
rsa==4.9
s3transfer==0.6.2
schedule==1.2.0
scipy==1.13.1
silpa-common==0.3
simplejson==3.19.2
six==1.16.0
soundex==1.1.3
soupsieve==2.5
spellchecker==0.4
ta==0.10.2
tabulate==0.9.0
Telethon==1.32.0
textblob==0.17.1
tornado==6.1
tqdm==4.66.1
traitlets==5.14.3
typing_extensions==4.11.0
tzdata==2023.3
upstox==2.0.3
urllib3==1.26.16
websocket-client==1.6.1
websockets==10.4
Werkzeug==2.3.6
wrapt==1.15.0
yarg==0.1.9
yarl==1.9.2
zipp==3.18.1
